[[source]]
name = "pypi"
#url = "https://mirrors.aliyun.com/pypi/simple/"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
fastapi = "*"
email-validator = "*"
uvicorn = "*"
maya = "*"
pyyaml = "*"
bcrypt = "*"
pony = "*"
pycryptodome = "*"
blinker = "*"
psycopg2 = "*"
aiofiles = "*"
httptools = "*"
AioCacheBucket = "*"
pillow = "*"
python-multipart = "*"

[pipenv]
allow_prereleases = true

[scripts]
uvicorn = "uvicorn main:app --port 8080"
main = "python main.py"
