[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
fastapi = "*"
email-validator = "*"
uvicorn = "*"
maya = "*"
pyyaml = "*"
bcrypt = "*"
pony = "*"
pycryptodome = "*"
blinker = "*"
psycopg2 = "*"
aiofiles = "*"

[pipenv]
allow_prereleases = true

[scripts]
uvicorn = "uvicorn main:app --port 8080"
