[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
fastapi = "*"
aiosqlite = "*"
email-validator = "*"
uvicorn = "*"
maya = "*"
pyyaml = "*"
bcrypt = "*"
pony = "*"
cacheout = "*"
rsa = "*"
pycryptodome = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true

[scripts]
uvicorn = "uvicorn main:app --reload --port 8080"
